body {
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.60)) ,url('img/1348.jpg');
  background-attachment: fixed;
}

button.button {
  background-color: #414141;
  border: 1px solid #717171;
}

::placeholder {
  color: black;
  opacity: 1;
}

#jumbo {
  text-align: center;
  padding: 80px 0;
}

.titles-container {
  display: inline-block;
  color: white;
  text-align: center;
}

.titles-container h1 {
  font-family: serif;
  font-size: 4em;
}

.titles-container hr {
  border-color: white;
}

.titles-container h2 {
  text-transform: uppercase;
  font-size: 1.8em;
}

#about {

}

.grid-container {
  max-width: 960px;
  margin-bottom: 40px;
}

.top-bar, .top-bar ul {
  background-color: transparent;
}

.top-bar {
  font-family: serif;
  max-width: 960px;
  margin: 0 auto;
}

.top-bar a  {
  color: lightgrey;
}

.top-bar a:hover {
  color: white;
  text-decoration: underline;
}

.lightblue {
  color: #6eb6e0;
}

.cell.section-title {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.cell.section-title h3 {
  font-family: serif;
  margin: 10px 0;
  text-align: center;
}

.cell.section-content {
  background-color: white;
  padding: 20px;
}

.cell.section-content article {
}

#lastissue article {
  text-align: center;
}

#lastissue article h1 {
  font-family: serif;
}

#lastissue article h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.cell.section-footer {
  text-align: right;
  background-color: white;
  padding: 0 40px 10px 0;
  font-size: 1.2em;
}

.cell.section-footer a {
  color: royalblue;
  font-style: italic;
}

.cell.section-footer a:hover {
  color: #004774;
  font-style: italic;
}

.cell.section-footer a::after {
  content: " >>";
}

p.description {
  font-style: italic;
  color: #393939;
}

footer {
  background-color: black;
  border-top: 1px solid grey;
  color: white;
  padding: 20px;
  margin-top :50px;
}

footer .cell {
  /* padding: 20px; */
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: #adadad;
}
